[submodule ".emacs.d/git-emacs"]
	path = .emacs.d/git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/el-get/auto-complete"]
	path = .emacs.d/el-get/auto-complete
	url = http://github.com/m2ym/auto-complete.git
[submodule ".emacs.d/el-get/js2-mode"]
	path = .emacs.d/el-get/js2-mode
	url = https://github.com/emacsmirror/js2-mode.git
[submodule ".emacs.d/el-get/muse"]
	path = .emacs.d/el-get/muse
	url = https://github.com/alexott/muse.git
[submodule ".emacs.d/el-get/el-get"]
	path = .emacs.d/el-get/el-get
	url = http://github.com/dimitri/el-get.git
